body {
  margin: 0;
}

.home-btn-posts {
  display: inline-block;
  /* note to self: above = important! */
  font-size: 20px;
  text-decoration: none;
  padding: 10px 15px;
  background-color: yellowgreen;
  color: white;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
}

.blog-title {
  grid-area: title;
}

h1 {
  font-size: 50px;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  display: block;
}

h2 {
  font-size: 18px;
}

h3 {
  font-size: 15px;
}

p {
  font-size: 14px;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  padding: 10px 8px;
  font-size: 20px;
}

.blog-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100px auto 1fr auto auto;
  grid-template-areas:
    "title title"
    "title title"
    "bio img"
    "bio social"
    "article article"
    "overview map";
  font-family: "Open Sans", sans-serif;
}

.bio {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  color: darkslategrey;
  font-size: 20px;
  grid-area: bio;
  background-color: whitesmoke;
  padding: 25px 5px;
}

.avatar {
  width: 80px;
  height: max-content;
  margin: 10px;
}

#author-details {
  text-align: left;
}

#author-info {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#short-bio {
  margin-top: 20px;
  text-align: center;
  font-size: 17px;
  padding: 0px 25px;
}

#short-bio p {
  font-style: italic;
}

.blog-image {
  grid-area: img;
}

.blog-image img {
  max-width: 100%;
  display: block;
}

.blog-image figcaption {
  margin-top: 2.5px;
  margin-bottom: 30px;
  color: gray;
  font-size: 12px;
}

.blog-main-content {
  grid-area: article;
  text-align: left;
  padding: 5px 20px;
}

.blog-overview {
  color: darkolivegreen;
  background-color: whitesmoke;
  font-size: 70px;
  grid-area: overview;
  padding: 0px 25px 0px 5px;
}

.blog-overview h2 {
  text-decoration: underline dotted;
}

.blog-overview p {
  font-style: italic;
}

#blog-overview-header {
  text-align: center;
  font-size: 25px;
}

.summary-list {
  font-size: 20px;
  text-decoration: underline;
}

.summary-list p {
  display: inline-block;
  /* Found above fix via: */
  /* https://stackoverflow.com/questions/25762427/remove-underline-only-from-anchor-element-child */
  text-align: left;
}

.blog-map {
  grid-area: map;
  background: url("../images/shenandoah-map.jpeg") no-repeat;
  background-size: contain;
  background-position: top right;
}

.blog-social {
  grid-area: social;
  padding: 15px;
}

.blog-social p {
  text-align: center;
}

.blog-social-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 2.5px;
  text-decoration: none;
}

.blog-social img {
  width: 25px;
}

/* Media queries below ensure responsiveness across devices 
and screen sizes (mobile, tablet, desktop/laptop) */

@media (min-width: 800px) and (max-width: 1200px){
  .blog-container{
    grid-template-columns: 1fr 1.5fr;
    grid-template-areas:
      "title title"
      "title title"
      "bio img"
      "social img"
      "article article"
      "overview map";
  }
}

@media (min-width: 1201px) {
  .blog-container{
    grid-template-columns: 1fr 1.5fr 1fr;
    grid-template-rows: auto max-content max-content auto;
    grid-template-areas:
      "title title title"
      "bio article img"
      "social article overview"
      "map article overview"
  }
}

footer {
  padding: 10px;
  background-color: lightsteelblue;
  font-size: 20px;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  color: darkgrey;
}